<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<th:block th:insert="~{fragments/nav}">
</th:block>
<div class="container mt-5">
    <div class="row align-items-center mt-5" th:if="${statusMessage}">
        <div class="col-12 alert  text-center" th:classappend="${statusCode =='error'?'alert-danger':'alert-success'}"
             th:text="${statusMessage}">
        </div>
    </div>
    <div class="jumbotron bg-light">
        <h2 class="text-center text-dark">Details</h2>
        <hr class="hr-2 bg-dark w-25">
        <div class="text-center">
            <img th:src="${product.imageUrl}" width="225" height="225" alt="Product">
        </div>
        <div class="row">
            <div class="col col-md-12 text-center mt-3">
                <h4 th:text="'Name: ' + ${product.name}"></h4>
            </div>
        </div>

        <div class="row" th:if="${product.name != 'Training plan'}">
            <div class="col col-md-12 text-center mt-3">
                <h6 th:text="'Manufacturer name: ' + ${product.manufacturerName}"></h6>
            </div>
        </div>

        <div class="row" th:if="${product.name != 'Training plan'}">
            <div class="col col-md-12 text-center mt-3">
                <h6 th:text="'Quantity: ' + ${product.quantity}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-12 text-center mt-3">
                <h6 th:text="'Number purchased: ' + ${product.buyingCounter}"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-12 text-center mt-3">
                <h6 th:text="'Desciption: ' + ${product.description}"></h6>
            </div>
        </div>

        <th:block th:if="${offerPrice != null}">
            <div class="row">
                <div class="col col-md-12 text-center mt-5">
                    <h6 class="product-old-price" th:text="'Old price: ' + ${product.price} + ' $'"></h6>
                    <h4 th:text="'New price: ' + ${offerPrice}  + ' $'"></h4>
                </div>
            </div>
        </th:block>
        <th:block th:if="${offerPrice == null}">
            <div class="row">
                <div class="col col-md-12 text-center mt-5">
                    <h4 th:text="'Price: ' + ${product.price} + ' $'"></h4>
                </div>
            </div>
        </th:block>

        <hr class="hr-2 bg-dark w-25">

        <div class="row">
            <form class="form w-25 mx-auto" style="margin-bottom: 20px;" th:action="@{/cart/add-product}"
                  th:method="post">
                <div class="form-group mx-auto">
                    <label for="quantity" class="font-weight-bold">Quantity</label>
                    <input id="quantity" class="form-control text-center" type="number" min="1" max="15" step="1"
                           name="quantity" value="1"/>
                </div>
                <input type="hidden" name="id" th:value="${product.id}">
                <th:block th:if="${product.quantity == 0}">
                    <button disabled type="submit" class="btn btn-success">Add to cart</button>
                </th:block>
                <th:block th:if="${product.quantity > 0}">
                    <button type="submit" class="btn btn-success">Add to cart</button>
                </th:block>
            </form>
        </div>
        <hr class="hr-2 bg-dark w-100">
        <h1 class="comments-title" style="margin-bottom: 50px" th:text=" 'Comments ' + '(' + ${reviews.size()}  + ')'"></h1>
        <th:block th:each="review: ${reviews}">
            <div class="row">
                <div class="form-group mx-auto">
                    <div class="container">
                        <div class="be-comment-block">
                            <div class="be-comment">
                                <div class="be-img-comment">
                                    <a><img th:src="${review.user.imageUrl}" alt="" class="be-ava-comment"></a>
                                </div>
                                <div class="be-comment-content">
				                <span class="be-comment-name">
                                    <h7  th:text="${review.user.firstName} + ' ' + ${review.user.lastName}"></h7>
					            </span>
                                <span class="be-comment-time"><i class="fa fa-clock-o"></i>
                                    <h7  th:text="${#temporals.format(review.reviewDate, 'dd-MMM-yyyy')}"></h7>
				                </span>
                                    <p class="be-comment-text" th:text="${review.description}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <hr class="hr-2 bg-dark w-75">
        <div class="row">
            <form class="form w-25 mx-auto" th:action="@{/addComment}" th:method="post">

                <div class="form-group mx-auto">
                    <label for="add-comment-description" class="font-weight-bold">Add Comment</label>
                    <textarea maxlength="100" class="form-control text-center" th:field="${comment.description}"
                              id="add-comment-description" cols="41" rows="5"
                              placeholder="Comment max length is 100 characters"></textarea>
                    <div class="stars">
                        <input class="star star-5" id="star-5" type="radio" th:value="5" name="stars"/>
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" th:value="4" name="stars"/>
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" th:value="3" name="stars"/>
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" th:value="2" name="stars"/>
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" th:value="1" name="stars"/>
                        <label class="star star-1" for="star-1"></label>
                    </div>

                    <div class="form-group mx-auto vote">
                        <h6 th:text="${ratingProduct.rating} + '/5' + ' (' + ${ratingProduct.votes} + ' ratings)'"></h6>
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${product.id}">

                <button type="submit" class="btn btn-success">Add Comment</button>
            </form>
        </div>
    </div>
    <th:block th:insert="~{fragments/footer}">
    </th:block>
    <th:block th:insert="~{fragments/scripts}">
    </th:block>
</div>
</body>
</html>