<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>

<th:block th:insert="~{fragments/nav}">
</th:block>

<th:block th:insert="~{fragments/nav-admin-panel}">

</th:block>

<main class="container mt-4">
    <hr class="hr-2 bg-dark w-100 flex-row">

    <div class="row align-items-center" sec:authorize="!hasAnyRole('ROOT','ADMIN')">
        <div class="col-12 alert alert-danger text-center">
            You are not allowed to view this page!
        </div>

    </div>

    <div class="table-responsive" sec:authorize="hasAnyRole('ROOT','ADMIN')">
        <h1 class="text-center mt-2"><span class="badge badge-info">All users</span></h1>
        <hr class="hr-2 bg-dark w-100 flex-row">


        <table class="table table-hover w-100 mx-auto flex-row"
               th:each="u : ${users}" th:object="${u}">
            <form
                    th:action="@{/admin/user-management/change(id = ${u.id})}" th:method="post">

                <thead>
                <tr class="row mx-auto">
                    <th class="col-md-3 text-center font-weight-bold">Username</th>
                    <th class="col-md-2 text-center font-weight-bold">Email</th>
                    <th class="col-md-4 text-center font-weight-bold">Change role</th>
                    <th class="col-md-3 text-center font-weight-bold">BAN</th>
                </tr>

                <tr class="row mx-auto auto">
                    <th class="col-md-3 text-center font-weight-bold" th:text="${u.username}"></th>
                    <th class="col-md-2 text-center font-weight-bold" th:text="${u.email}"></th>
                    <th class="col-md-4 text-center font-weight-bold">
                        <ul class="change-role">
                            <li>
                                <select class="browser-default custom-select" id="role" name="role">
                                    <option value="">SELECT ROLE</option>
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_MODERATOR">MODERATOR</option>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                    <option value="ROLE_ADMIN_AND_MODERATOR">ADMIN AND MODERATOR</option>
                                </select>
                            </li>
                            <li>
                        <button type="submit" class="btn-group-vertical mb-3 btn-success">Change</button>
                            </li>
                        </ul>

                    </th>
                    <th class="col-md-3 text-center font-weight-bold">
                        <a th:href="@{/admin/user-management/ban/(id = ${u.id})}"
                           class="btn-group-vertical action-button mb-3 btn-danger">BAN</a>
                    </th>
                </tr>
            </form>
            </tbody>
        </table>


    </div>
</main>

<th:block th:insert="~{fragments/footer}">
</th:block>
<th:block th:insert="~{fragments/scripts}"></th:block>

</body>
</html>