<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>

<th:block th:insert="~{fragments/nav}">
</th:block>

<th:block th:insert="~{fragments/nav-trainer-panel}">

</th:block>

<div class="container mt-5">

    <h2 class="text-center text-dark">Add workouts</h2>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bg-info">
                            <h4 style="color: white">Monday</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Create new workout</button>
                                    <button type="button" class="btn btn-sm btn-outline-primary">Add existing one</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bg-info">
                            <h4 style="color: white">Tuesday</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Create new workout</button>
                                    <button type="button" class="btn btn-sm btn-outline-primary">Add existing one</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bg-info">
                            <h4 style="color: white">Wednesday</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Create new workout</button>
                                    <button type="button" class="btn btn-sm btn-outline-primary">Add existing one</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bg-info">
                            <h4 style="color: white">Thursday</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Create new workout</button>
                                    <button type="button" class="btn btn-sm btn-outline-primary">Add existing one</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bg-info">
                            <h4 style="color: white">Friday</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Create new workout</button>
                                    <button type="button" class="btn btn-sm btn-outline-primary">Add existing one</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bg-info">
                            <h4 style="color: white">Saturday</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Create new workout</button>
                                    <button type="button" class="btn btn-sm btn-outline-primary">Add existing one</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bg-info">
                            <h4 style="color: white">Sunday</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Create new workout</button>
                                    <button type="button" class="btn btn-sm btn-outline-primary">Add existing one</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>

                </div>
            </div>

        </div>
<button class="btn-outline-success" style="padding-left: 90%">Create training plan</button>
    </div>
</div>

<th:block th:insert="~{fragments/footer}">
</th:block>
<th:block th:insert="~{fragments/scripts}"></th:block>

</body>
</html>