<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>

<th:block th:insert="~{fragments/nav}">
</th:block>

<th:block th:insert="~{fragments/nav-trainer-panel}">

</th:block>

<div class="container mt-5">

    <h2 class="text-center text-dark">Add training plan</h2>

    <form th:object="${trainingPlan}" th:action="@{/trainers/add-training-plan}" th:method="post">
        <div class="form-group">
            <label for="name" class="font-weight-bold">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" name="name">
            <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
        </div>
        <div class="form-group">
            <label for="trainingPlanType" class="font-weight-bold">Training plan type</label>
            <select class="form-control" name="trainingPlanType" id="trainingPlanType">
                <option th:each="trainingPlanType:${trainingPlanTypes}" th:text="${trainingPlanType}" th:value="${trainingPlanType}" ></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>

<th:block th:insert="~{fragments/footer}">
</th:block>
<th:block th:insert="~{fragments/scripts}"></th:block>

</body>
</html>