<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>

<th:block th:insert="~{fragments/nav}">
</th:block>

<th:block th:insert="~{fragments/nav-trainer-panel}">

</th:block>

<div class="container mt-5">
    <div class="row align-items-center mt-5" th:if="${error} != null">
        <div class="col-12 alert  text-center text-danger"
             th:text="${error}">
        </div>
    </div>
    <h2 class="text-center text-dark">Add training plan to customer</h2>

    <form th:object="${trainingPlanToCustomer}" th:action="@{/trainers/add-training-plan-to-customer}" th:method="post">
        <div class="form-group">
            <label for="name" class="font-weight-bold">Training plan name</label>
            <select class="form-control" name="name" id="name">
                <option th:each="trainingPlan:${trainingPlanNames}" th:text="${trainingPlan.name}" th:value="${trainingPlan.name}" ></option>
            </select>
        </div>
        <div class="form-group">
            <label for="customer" class="font-weight-bold">Customers</label>
            <select class="form-control" name="id" id="customer">
                <option th:each="customer:${customers}" th:text="${customer.user.username}" th:value="${customer.id}" ></option>
            </select>
        </div>
        <div class="form-group">
            <label for="startedOn" class="font-weight-bold">Training plan started date</label>
            <input type="date" th:field="*{startedOn}" class="form-control" id="startedOn" name="startedOn">
            <small class="text-danger" th:if="${#fields.hasErrors('startedOn')}" th:errors="*{startedOn}"></small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<th:block th:insert="~{fragments/footer}">
</th:block>
<th:block th:insert="~{fragments/scripts}"></th:block>

</body>
</html>