<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>

<th:block th:insert="~{fragments/nav}">
</th:block>

<th:block th:insert="~{fragments/nav-trainer-panel}">

</th:block>

<div class="container mt-5">

    <h2 class="text-center text-dark">Add Workout</h2>
    <div class="row align-items-center mt-5" th:if="${statusMessage}">
        <div class="col-12 alert  text-center" th:classappend="${statusCode =='error'?'alert-danger':'alert-success'}"
             th:text="${statusMessage}">

        </div>

    </div>

    <form th:object="${workout}" th:action="@{/trainers/add-workout}" th:method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="name">Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Enter name">
            <small class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
        </div>

        <div class="row d-flex justify-content-center">
            <input th:field="*{exercises}" type="button" value="Add Exercise" class="btn btn-primary" th:onclick="createRowForExercise()">
        </div>
        <div class="row justify-content-center">
            <small class="text-danger" th:if="${#fields.hasErrors('exercises')}" th:errors="*{exercises}"></small>
        </div>

        <div class="form-group">
            <table class="table bg-blur" id="tbl">
                <thead>
                <tr>
                    <th scope="col" class="font-weight-bold">Exercise name</th>
                    <th scope="col">Sets</th>
                    <th scope="col">Repeats</th>
                    <th scope="col">Rest time</th>
                </tr>
                </thead>

           </table>
        </div>

        <div class="row d-flex justify-content-center">
            <button type="submit" style="margin-bottom: 20px;" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<th:block th:insert="~{fragments/footer}">
</th:block>
<th:block th:insert="~{fragments/scripts}"></th:block>
<script src="/static/js/createRowForExercise.js"></script>

</body>
</html>