<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<th:block th:insert="~{fragments/nav-shop}">
</th:block>
<body class="shop">

<th:block th:insert="~{fragments/nav-categories}"></th:block>
<div class="container mt-5">

    <tbody>
    <th:block th:if="${offers.size() == 0}">
        <div>
            <h1 class="no-products">We are sorry but currently there are not offers for you!</h1>
        </div>
    </th:block>

    <section class="products">
        <th:block th:each="offer: ${offers}" th:object="${offer}">
            <article class="offer-article">
                <img th:src="${offer.product.imageUrl}" alt="">
                <span th:text="${offer.product.name}"></span>
                <span class="product-old-price" th:text="${offer.product.price} + ' $'"></span>
                <span class="product-offer-price" th:text="${offer.price} + ' $'"></span>
                <a class="offer-button" th:href="@{/products/details/{id}(id=${offer.product.id})}">Details</a>
            </article>

        </th:block>
    </section>
    </tbody>
    </table>
    <th:block th:insert="~{fragments/scripts}"></th:block>

</div>
</body>
</html>