<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments/head}">

</head>
<body>
<th:block th:insert="~{fragments/nav}">

</th:block>
<div class="container-fluid">
    <main class="mt-3">
        <h1 class="text-center text-dark">Change profile picture</h1>
        <hr class="hr-2 bg-dark w-25">
        <form class="form w-25 mx-auto" th:object="${userEditBindingModel}"
              th:action="@{/users/changePicture/(id = *{id})}" th:method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="add-product-image" class="font-weight-bold">Image</label>
                <input type="file" class="form-control-file" id="add-product-image" name="imageUrl">
            </div>
            <hr class="hr-2 bg-dark">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Update</button>
            </div>
        </form>

    </main>


</div>

<th:block th:insert="~{fragments/footer}">

</th:block>
<th:block th:insert="~{fragments/scripts}"></th:block>
</body>
</html>