<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments/head}">

</head>
<body>
<th:block th:insert="~{fragments/nav}">

</th:block>
<div class="container-fluid">
    <main class="mt-3">
        <h1 class="text-center text-dark">Edit Progress Chart</h1>
        <hr class="hr-2 bg-dark w-25">
        <form class="form w-25 mx-auto" th:object="${progressChartEditBindingModel}"
              th:action="@{/customers/progressChart/edit/}" th:method="post">
            <div class="form-group">
                <label for="weight" class="font-weight-bold">Weight</label>
                <input th:field="*{weight}" placeholder="Your weight..." th:errorclass="bg-warning" type="number" class="form-control" id="weight" name="weight"/>
                <small th:each="e : ${#fields.errors('weight')}" th:text="${e}" class="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="height" class="font-weight-bold">Height</label>
                <input th:field="*{height}" th:value="*{height}" placeholder="Your height..." th:errorclass="bg-warning" type="number" class="form-control" id="height" name="height"/>
                <small th:each="e : ${#fields.errors('height')}" th:text="${e}" class="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="chest" class="font-weight-bold">Chest</label>
                <input th:field="*{chest}" placeholder="Your chest..." th:errorclass="bg-warning" type="number" class="form-control" id="chest" name="chest"/>
                <small th:each="e : ${#fields.errors('chest')}" th:text="${e}" class="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="waist" class="font-weight-bold">Waist</label>
                <input th:field="*{waist}" placeholder="Your waist..." th:errorclass="bg-warning" type="number" class="form-control" id="waist" name="waist"/>
                <small th:each="e : ${#fields.errors('waist')}" th:text="${e}" class="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="biceps" class="font-weight-bold">Biceps</label>
                <input th:field="*{biceps}" placeholder="Your biceps..." th:errorclass="bg-warning" type="number" class="form-control" id="biceps" name="biceps"/>
                <small th:each="e : ${#fields.errors('biceps')}" th:text="${e}" class="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="thigh" class="font-weight-bold">Thigh</label>
                <input th:field="*{thigh}" placeholder="Your thigh..." th:errorclass="bg-warning" type="number" class="form-control" id="thigh" name="thigh"/>
                <small th:each="e : ${#fields.errors('thigh')}" th:text="${e}" class="text-danger"></small>
            </div>
            <hr class="hr-2 bg-dark">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Edit</button>
            </div>
        </form>

    </main>


</div>

<th:block th:insert="~{fragments/footer}">

</th:block>
<th:block th:insert="~{fragments/scripts}"></th:block>
</body>
</html>