<div class="footer-basic" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer>
        <div class="social"><a href="https://github.com/Valeri12580/Gladiators"><i
                class="icon ion-social-github"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a th:href="@{/}">Home</a></li>
            <li class="list-inline-item"><a th:href="@{/shop}">Shop</a></li>
            <li class="list-inline-item"><a th:href="@{/trainers}">Trainers</a></li>
            <li class="list-inline-item"><a th:href="@{/articles}">Articles</a></li>
            <li class="list-inline-item"><a th:href="@{/about}">About us</a></li>
        </ul>
        <p class="copyright">Gladiators © 2020</p>
    </footer>
</div>