<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item"><a class="nav-link" th:href="@{/articles/article-add}" th:classappend="${#httpServletRequest.getRequestURI() == '/article/article-add'?'active':''}">Add article</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/categories/category-add}" th:classappend="${#httpServletRequest.getRequestURI() == '/category/category-add'?'active':''}">Add category</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/categories/all}" th:classappend="${#httpServletRequest.getRequestURI() == '/all-categories'?'active':''}">All categories</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/products/add}" th:classappend="${#httpServletRequest.getRequestURI() == '/product/product-add'?'active':''}">Add product</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/products/all}" th:classappend="${#httpServletRequest.getRequestURI() == '/product/all-products'?'active':''}">All products</a></li>
    </ul>
</th:block>