<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/user-management}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/user-management'?'active':''}" >User management</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/trainer-manager}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/trainer-manager'?'active':''}">Trainer manager</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Future features</a></li>
    </ul>

</th:block>