<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item"><a class="nav-link" th:href="@{/trainers/add-exercise}" th:classappend="${#httpServletRequest.getRequestURI() == '/trainer/exercise-add'?'active':''}" >Add exercise</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/trainers/add-workout}" th:classappend="${#httpServletRequest.getRequestURI() == '/trainer/workout-add'?'active':''}" >Add workout</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/trainers/add-training-plan}" th:classappend="${#httpServletRequest.getRequestURI() == '/trainer/add-training-plan'?'active':''}" >Add training plan</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/trainers/add-training-plan-to-customer}" th:classappend="${#httpServletRequest.getRequestURI() == '/trainer/add-training-plan-to-customer'?'active':''}" >Add training plan to customer</a></li>
    </ul>
</th:block>