<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/user-management}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/user-management'?'active':''}" >User management</a></li>
<!--        <li class="nav-item"><a class="nav-link " th:href="@{/admin/delete-user}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/delete-user'?'active':''}" >Delete user</a></li>-->
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/article-add}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/add-article'?'active':''}">Add article</a></li>
<!--        <li class="nav-item"><a class="nav-link" th:href="@{/admin/add-plan}" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/add-plan'?'active':''}">Add plan</a></li>-->
        <li class="nav-item"><a class="nav-link" href="#">Future&nbsp; features</a></li>
    </ul>

</th:block>