<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <a class="navbar-brand" th:href="@{/}">Gladiators</a>
        <div class="container">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><i class="fas fa-chevron-circle-down"></i></button>
            <span class="collapse navbar-collapse"
                  id="navcol-1">
                <ul class="nav navbar-nav mr-auto ">
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/home}"
                                                                th:classappend="${#httpServletRequest.getRequestURI()=='/home'?'active':''}">Home</a></li>
                     <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/shop}"
                                                                 th:classappend="${#httpServletRequest.getRequestURI()=='/shop'?'active':''}">Shop</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/trainers}"
                                                                th:classappend="${#httpServletRequest.getRequestURI()=='/trainers'?'active':''}">Trainers</a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/articles}"
                                                                th:classappend="${#httpServletRequest.getRequestURI()=='/articles'?'active':''}">Articles</a>
                     <li class="nav-item" role="presentation"><a class="nav-link"
                                                                 th:href="@{/about}">About Us</a></li>
                </ul>
            </span>
        </div>
            <th:div sec:authorize="!hasAnyRole('CUSTOMER','MODERATOR','TRAINER_UNCONFIRMED','TRAINER_CONFIRMED','BANNED','ROOT','ADMIN')
             && isAuthenticated()">
                <a class="nav-link" th:href="@{/customers/registration}">Customer registration</a>
            </th:div>

            <div sec:authorize="isAuthenticated() && hasAnyRole('ROOT','ADMIN','MODERATOR','CUSTOMER','TRAINER_CONFIRMED')"
            <div class="dropdown">
                <a class="nav-link active dropdown-toggle" href="#" role="button" id="cartDropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cart</a>
                <div class="dropdown-menu" aria-labelledby="cartDropdown">
                    <th:block th:each="item : ${#session.getAttribute('shopping-cart')}" th:object="${item}">
                        <div class="dropdown-item" th:text="|*{product.product.name} x *{quantity}|"></div>
                    </th:block>
                    <div class="text-center">
                        <a th:href="@{/cart/details}" class="btn btn-dark">Cart</a>
                    </div>
                </div>
            </div>


        <div sec:authorize="isAuthenticated() && hasAnyRole('ROOT','ADMIN','MODERATOR','CUSTOMER','TRAINER_CONFIRMED')"
             class="dropdown  border rounded" style="margin-right: 30px;">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#"
               sec:authentication="name">
            </a>
            <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" role="presentation"
                   th:href="@{/users/inbox/(id=${#authentication.getPrincipal().getId()})}">Inbox</a>
                <a class="dropdown-item" role="presentation"
                   th:href="@{/users/(id=${#authentication.getPrincipal().getId()})}">Profile</a>
                <a class="dropdown-item" role="presentation"
                   th:href="@{/orders/my}">My Orders</a>
                <a sec:authorize="hasAnyRole('ROOT','ADMIN')" class="dropdown-item"
                   role="presentation"
                   th:href="@{/admin/user-management}">Admin Panel</a>
                <a sec:authorize="hasAnyRole('ROOT','MODERATOR')" class="dropdown-item"
                   role="presentation"
                   th:href="@{/articles/article-add}">Moderator Panel</a>
                <a sec:authorize="hasRole('ROOT')" class="dropdown-item"
                   role="presentation"
                   th:href="@{/logger/all}" style="color: red">Admins logs</a>
                <a sec:authorize="hasRole('TRAINER_CONFIRMED')" class="dropdown-item" role="presentation"
                   th:href="@{/trainers/add-exercise}">Trainer Panel</a>
            </div>

        </div>


        <span class="navbar-text actions">
                    <th:block sec:authorize="isAnonymous()">
                                <a class="login" th:href="@{/users/login}">Log In</a>
                                <a class="btn btn-light action-button" role="button" th:href="@{/users/register}">Register</a>
                    </th:block>

                    <th:block sec:authorize="isAuthenticated()">
                        <form th:method="post" th:action="@{/users/logout}">
                        <button class="btn btn-light action-button" role="button" type="submit">Logout</button>
                        </form>
                    </th:block>
                </span>
        </div>
        </div>
    </nav>
</th:block>