.form-container div, .form-container  span{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.form-container ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}

.form-container :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    opacity:  1;
}

.form-container ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    opacity:  1;
}

.form-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #999;
}

.form-container :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color:  #999;
}

.oauth-buttons {
    text-align:center;
}
.row {
    text-align:center;
}
#login-form{
    min-width:375px;
}
.login-container{
    width:400px;
    height:330px;
    display:inline-block;
    margin-top: -165px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -200px;
}
.form-container .create-account:hover{
    opacity:.7;
}
.form-container .create-account{
    color:inherit;
    margin-top: 15px;
    display: inline-block;
    cursor:pointer;
    text-decoration:none;
}

.oauth-buttons .fa{
    cursor:pointer;
    margin-top:10px;
    color:inherit;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    margin:5px;
    margin-top:15px;
}
.oauth-buttons .fa:hover{
    color:white;
}
.oauth-buttons .fa-google-plus:hover{
    background: #dd4b39;
}
.oauth-buttons .fa-facebook:hover{
    background:	#8b9dc3;
}

.oauth-buttons .fa-linkedin:hover{
    background:	#0077b5;
}

.oauth-buttons .fa-twitter:hover{
    background:	#55acee;
}

.form-container .req-input .input-status {
    display: inline-block;
    height: 40px;
    width: 40px;
    float: left;
}
.form-container .input-status::before{
    content: " ";
    height:20px;
    width:20px;
    position:absolute;
    top:10px;
    left:10px;
    color:white;
    border-radius:50%;
    background:white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.form-container .input-status::after{
    content: " ";
    height:10px;
    width:10px;
    position:absolute;
    top:15px;
    left:15px;
    color:white;
    border-radius:50%;
    background:#00BCD4;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container .req-input{
    width:100%;
    float:left;
    position:relative;
    background:#00BCD4;
    height:40px;
    display:inline-block;
    border-radius:0px;
    margin:5px 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container div .row .invalid:hover{
    background:#EF9A9A;
}

.form-container div .row .invalid{
    background:#E57373;
}

.form-container .invalid .input-status:before {
    width:20px;
    height:4px;
    top:19px;
    left:10px;
    background:white;/*#F44336;*/
    border-radius:0px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.form-container .invalid .input-status:after {
    width:20px;
    height:4px;
    background:white;
    border-radius:0px;
    top:19px;
    left:10px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.form-container div .row  .valid:hover{
    background:#A5D6A7;
}

.form-container div .row .valid {
    background:#81C784;

}

.form-container .valid .input-status:after {
    border-radius:0px;
    width: 17px;
    height: 4px;
    background: white;
    top: 16px;
    left: 15px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-container .valid .input-status:before {
    border-radius:0px;
    width: 11px;
    height: 4px;
    background:white;
    top: 19px;
    left: 10px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-container .input-container{
    padding:0px 20px;
}

.form-container .row-input{
    padding:0px 5px;
}

.form-container .req-input.input-password{
    margin-bottom:0px;
}
.form-container .req-input.confirm-password{
    margin-top:0px;
}

.form-container {
    margin:20px;
    padding:20px;
    border-radius:0px;
    background:#B3E5FC;
    color:#00838F;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container .form-title{
    font-size:25px;
    color:inherit;
    text-align:center;
    margin-bottom:10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container .submit-row{
    padding:0px 0px;
}

.form-container .btn.submit-form{
    margin-top:15px;
    padding:12px;
    background:#00BCD4;
    color:white;
    border-radius:0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.form-container .btn.submit-form:focus{
    outline:0px;
    color:white;
}

.form-container .btn.submit-form:hover{
    background:#00cde5;
    color:white;
}

.form-container .tooltip.top .tooltip-arrow {
    border-top-color:#00BCD4 !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-arrow {
    border-top-color:#E57373 !important;
}

.form-container .tooltip.top.tooltip-invalid .tooltip-inner::before{
    background:#E57373;
}
.form-container .tooltip.top.tooltip-invalid .tooltip-inner{
    background:#FFEBEE !important;
    color:#E57373;
}

.form-container .tooltip.top.tooltip-valid .tooltip-arrow {
    border-top-color:#81C784 !important;
}

.form-container .tooltip.top.tooltip-valid .tooltip-inner::before{
    background:#81C784;
}
.form-container .tooltip.top.tooltip-valid .tooltip-inner{
    background:#E8F5E9 !important;
    color:#81C784;
}

.form-container .tooltip.top .tooltip-inner::before{
    content:" ";
    width:100%;
    height:6px;
    background:#00BCD4;
    position:absolute;
    bottom:5px;
    right:0px;
}
.form-container .tooltip.top .tooltip-inner{
    border:0px solid #00BCD4;
    background:#E0F7FA !important;
    color:#00ACC1;
    font-weight:bold;
    font-size:13px;
    border-radius:0px;
    padding:10px 15px;
}
.form-container .tooltip {
    max-width:150px;
    opacity:1 !important;
}

.form-container .message-box{
    width:100%;
    height:auto;
}

.form-container textarea:focus,.form-container textarea:hover{
    background:#fff;
    outline:none;
    border:0px;
}

.form-container .req-input textarea {
    max-width:calc(100% - 50px);
    width: 100%;
    height: 80px;
    border: 0px;
    color: #777;
    padding: 10px 9px 0px 9px;
    float:left;

}
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=email]:focus, .form-container input[type=tel]:focus, .form-container select{
    background:#fff;
    color:#777;
    border-left:0px;
    outline:none;
}

.form-container input[type=text]:hover,.form-container input[type=password]:hover,.form-container input[type=email]:hover,.form-container input[type=tel]:hover, . form-container select{
    background:#fff;
}

.form-container input[type=text], .form-container input[type=password], .form-container input[type=email],input[type=tel], form-container select{
    width:calc(100% - 50px);
    float:left;
    border-radius:0px;
    border:0px solid #ddd;
    padding:0px 9px;
    height:40px;
    line-height:40px;
    color:#777;
    background:#fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Index page css */
.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}


.header-blue {
    background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
    padding-bottom: 80px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width:768px) {
    .header-blue {
        padding-bottom: 120px;
    }
}

.header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

@media (min-width:768px) {
    .header-blue .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.header-blue .navbar .navbar-brand:hover {
    color: #f0f0f0;
}

.header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: .5rem;
}

@media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
        border-color: transparent;
        margin: 0;
    }
}

.header-blue .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none;
}

.header-blue .navbar .navbar-collapse span .login:hover {
    color: #fff;
}

.header-blue .navbar .navbar-toggler {
    border-color: rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background: none;
}

@media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem;
    }
}

@media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

.header-blue .navbar.navbar-light .navbar-nav .nav-link {
    color: #d9d9d9;
}

.header-blue .navbar.navbar-light .navbar-nav .nav-link:focus, .header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
    color: #fcfeff !important;
    background-color: transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #37434d;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background: #ebeff1;
}

.header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 40px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;
}

.header-blue .action-button:hover {
    color: #fff;
}

.header-blue .navbar .form-inline label {
    color: #d9d9d9;
}

.header-blue .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #ccc;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
}

.header-blue .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc;
}

.header-blue .hero {
    margin-top: 20px;
    text-align: center;
}

@media (min-width:768px) {
    .header-blue .hero {
        margin-top: 60px;
        text-align: left;
    }
}

.header-blue .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width:992px) {
    .header-blue .hero h1 {
        margin-top: 190px;
        margin-bottom: 24px;
        line-height: 1.2;
    }
}

.header-blue .hero p {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.header-blue .phone-holder {
    text-align: right;
}

.header-blue div.female-draw {
    position: relative;
    max-width: 300px;
    margin: 20px;
    display: inline-block;
}

.header-blue .female-draw img.device {
    width: 100%;
    height: auto;
}

.header-blue .female-draw .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background: url(../../assets/img/screen-content-iphone-6.jpg);
    background-size: cover;
    background-position: center;
}

.header-blue .female-draw .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
}

.navigation-clean-button {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

@media (min-width:768px) {
    .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navigation-clean-button .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
    color: #222;
}

.navigation-clean-button.navbar-dark .navbar-brand:hover {
    color: #f0f0f0;
}

.navigation-clean-button .navbar-brand img {
    height: 100%;
    display: inline-block;
    margin-right: 10px;
    width: auto;
}

.navigation-clean-button .navbar-toggler {
    border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
    background: none;
}

.navigation-clean-button.navbar-dark .navbar-toggler {
    border-color: #555;
}

.navigation-clean-button .navbar-toggler {
    color: #888;
}

.navigation-clean-button.navbar-dark .navbar-toggler {
    color: #eee;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .form-inline {
    border-top-color: #ddd;
}

.navigation-clean-button.navbar-dark .navbar-collapse, .navigation-clean-button.navbar-dark .form-inline {
    border-top-color: #333;
}

.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
    background: none;
    box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
    color: #465765;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
    color: #37434d !important;
    background-color: transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item {
    line-height: 2;
    font-size: 14px;
    color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
    background: #eee;
    color: inherit;
}

@media (max-width:767px) {
    .navigation-clean-button .navbar-nav .show .dropdown-menu {
        box-shadow: none;
    }
}

@media (max-width:767px) {
    .navigation-clean-button .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #37434d;
        padding-top: 12px;
        padding-bottom: 12px;
        line-height: 1;
    }
}

.navigation-clean-button.navbar-dark {
    background-color: #1f2021;
    color: #fff;
}

.navigation-clean-button.navbar-dark .navbar-nav a.active, .navigation-clean-button.navbar-dark .navbar-nav a.active:focus, .navigation-clean-button.navbar-dark .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link {
    color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: transparent;
}

.navigation-clean-button.navbar-dark .navbar-nav > li > .dropdown-menu {
    background-color: #1f2021;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item {
    color: #f2f5f8;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:hover {
    background: #363739;
}

@media (max-width:767px) {
    .navigation-clean-button.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fff;
    }
}

.navigation-clean-button .actions .login {
    margin-right: 1rem;
    text-decoration: none;
    color: #465765;
}

.navigation-clean-button.navbar-dark .actions .login {
    color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .actions .login:hover {
    color: #fff;
}

.navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
    background: #56c6c6;
    border-radius: 20px;
    font-size: inherit;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: .5rem 1rem;
    transition: background-color 0.25s;
    font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:hover {
    background: #66d7d7;
}

.navigation-clean-button.navbar-dark .action-button, .navigation-clean-button.navbar-dark .action-button:active {
    background: #208f8f;
}

.navigation-clean-button.navbar-dark .action-button:hover {
    background: #269d9d;
}

.masthead{
    background-image: url("/img/pexels-li-sun-2475878.jpg");
}

.article-list {
    color: #313437;
    background-color: #fff;
}

.article-list p {
    color: #7d8285;
}

.article-list h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .article-list h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.article-list .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.article-list .intro p {
    margin-bottom: 0;
}

.article-list .articles {
    padding-bottom: 40px;
}

.article-list .item {
    padding-top: 50px;
    min-height: 425px;
    text-align: center;
}

.article-list .item .name {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    color: inherit;
}

.article-list .item .description {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
}

.article-list .item .action {
    font-size: 24px;
    width: 24px;
    margin: 22px auto 0;
    line-height: 1;
    display: block;
    color: #4f86c3;
    opacity: 0.85;
    transition: opacity 0.2s;
    text-decoration: none;
}

.article-list .item .action:hover {
    opacity: 1;
}

.article-clean {
    color: #56585b;
    background-color: #fff;
    font-family: 'Lora', serif;
    font-size: 14px;
}

.article-clean .intro {
    font-size: 16px;
    margin: 0 auto 30px;
}

.article-clean .intro h1 {
    font-size: 32px;
    margin-bottom: 15px;
    padding-top: 20px;
    line-height: 1.5;
    color: inherit;
    margin-top: 20px;
}

.article-clean .intro p {
    color: #929292;
    font-size: 12px;
}

.article-clean .intro p .by {
    font-style: italic;
}

.article-clean .intro p .date {
    text-transform: uppercase;
    padding: 4px 0 4px 10px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
}

.article-clean .intro p a {
    color: #333;
    text-transform: uppercase;
    padding-left: 3px;
}

.article-clean .intro img {
    margin-top: 20px;
}

.article-clean .text p {
    margin-bottom: 20px;
    line-height: 1.45;
}

@media (min-width:768px) {
    .article-clean .text p {
        font-size: 16px;
    }
}

.article-clean .text h2 {
    margin-top: 28px;
    margin-bottom: 20px;
    line-height: 1.45;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

@media (min-width:768px) {
    .article-clean .text h2 {
        font-size: 20px;
    }
}

.article-clean .text figure {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.article-clean .text figure img {
    margin-bottom: 12px;
    max-width: 100%;
}


/*trainer form*/


.login-form h2.form-heading {
    color: #4c565e;
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: bold;
}

form.custom-form {
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    border-top: 2px solid #6caee0;
    padding: 40px;
    color: #5f5f5f;
}

.login-form .custom-form .form-group {
    margin-bottom: 25px;
}

.login-form .custom-form .form-group input {
    border: 1px solid #ccc;
}

.login-form .custom-form button.btn.btn-default.btn-block.dropdown-toggle {
    text-align: left;
    color: #5f5f5f;
    border: 1px solid #ccc;
    background: #fff;
}

.login-form .custom-form ul.dropdown-menu {
    width: 100%;
    background: #fff;
    color: #5f5f5f;
}

.login-form .custom-form ul.dropdown-menu li a {
    color: #5f5f5f;
    opacity: 0.8;
}

.login-form .custom-form ul.dropdown-menu li a:hover {
    background: #fff;
    opacity: 1;
}

div.radio {
    margin: 14px 0;
}

.login-form .custom-form .submit-button {
    border-radius: 2px;
    background: #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 30px auto 0;
    outline: none;
}


.about {
    background-image: url("/img/about-img.jpg");
}

.message-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message-form img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.message-form
textarea{
    width: 30%;
    border: 1px solid black;
}

.btn-message {
    position: relative;
    left: 562px;
    top: 20px;
}

.email {
    padding: 20px 10px 15px 10px;
    font-size: 1em;
}

.email .btn.search {
    font-size: 0.9em;
}

.email h2 {
    margin-top: 0;
    padding-bottom: 8px;
}

.email .nav.nav-pills > li > a {
    border-top: 3px solid transparent;
}

.email .nav.nav-pills > li > a > .fa {
    margin-right: 5px;
}

.email .nav.nav-pills > li.active > a,
.email .nav.nav-pills > li.active > a:hover {
    background-color: #f6f6f6;
    border-top-color: #3c8dbc;
}

.email .nav.nav-pills > li.active > a {
    font-weight: 600;
}

.email .nav.nav-pills > li > a:hover {
    background-color: #f6f6f6;
}

.email .nav.nav-pills.nav-stacked > li > a {
    color: #666;
    border-top: 0;
    border-left: 3px solid transparent;
    border-radius: 0px;
}

.email .nav.nav-pills.nav-stacked > li.active > a,
.email .nav.nav-pills.nav-stacked > li.active > a:hover {
    background-color: #f6f6f6;
    border-left-color: #3c8dbc;
    color: #444;
}

.email .nav.nav-pills.nav-stacked > li.header {
    color: #777;
    text-transform: uppercase;
    position: relative;
    padding: 0px 0 10px 0;
}

.email table {
    font-weight: 600;
}

.email table a {
    color: #666;
}

.email table tr.read > td {
    background-color: #f6f6f6;
}

.email table tr.read > td {
    font-weight: 400;
}

.email table tr td > i.fa {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
}

.email table tr td > i.fa-star {
    color: #f39c12;
}

.email table tr td > i.fa-bookmark {
    color: #e74c3c;
}

.email table tr > td.action {
    padding-left: 0px;
    padding-right: 2px;
}

.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}



.grid .grid-header:after {
    clear: both;
}

.grid .grid-header span,
.grid .grid-header > .fa {
    display: inline-block;
    margin: 0;
    font-weight: 300;
    font-size: 1.5em;
    float: left;
}

.grid .grid-header span {
    padding: 0 5px;
}

.grid .grid-header > .fa {
    padding: 5px 10px 0 0;
}

.grid .grid-header > .grid-tools {
    padding: 4px 10px;
}

.grid .grid-header > .grid-tools a {
    color: #999999;
    padding-left: 10px;
    cursor: pointer;
}

.grid .grid-header > .grid-tools a:hover {
    color: #666666;
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.grid .full {
    padding: 0 !important;
}

.grid .transparent {
    box-shadow: none !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.grid.top.black > .grid-header {
    border-top-color: #000000 !important;
}

.grid.bottom.black > .grid-body {
    border-bottom-color: #000000 !important;
}

.grid.top.blue > .grid-header {
    border-top-color: #007be9 !important;
}

.grid.bottom.blue > .grid-body {
    border-bottom-color: #007be9 !important;
}

.grid.top.green > .grid-header {
    border-top-color: #00c273 !important;
}

.grid.bottom.green > .grid-body {
    border-bottom-color: #00c273 !important;
}

.grid.top.purple > .grid-header {
    border-top-color: #a700d3 !important;
}

.grid.bottom.purple > .grid-body {
    border-bottom-color: #a700d3 !important;
}

.grid.top.red > .grid-header {
    border-top-color: #dc1200 !important;
}

.grid.bottom.red > .grid-body {
    border-bottom-color: #dc1200 !important;
}

.grid.top.orange > .grid-header {
    border-top-color: #f46100 !important;
}

.grid.bottom.orange > .grid-body {
    border-bottom-color: #f46100 !important;
}

.grid.no-border > .grid-header {
    border-bottom: 0px !important;
}

.grid.top > .grid-header {
    border-top-width: 4px !important;
    border-top-style: solid !important;
}

.grid.bottom > .grid-body {
    border-bottom-width: 4px !important;
    border-bottom-style: solid !important;
}

.text-slategray {
    font-size: 30px;
    border-bottom: 1px solid gray;
    color: darkslategrey
}

.senden-img{
    width:50px;
    height:50px;
}

.btn-compose-email {
    padding: 10px 0px;
    margin-bottom: 20px;
}

.btn-danger {
    background-color: #E9573F;
    border-color: #E9573F;
    color: white;
}

.panel-teal .panel-heading {
    background-color: #37BC9B;
    border: 1px solid #36b898;
    color: white;
}

.panel .panel-heading {
    padding: 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #DDD;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.panel .panel-heading .panel-title {
    padding: 10px;
    font-size: 17px;
}

form .form-group {
    position: relative;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.inner-all {
    padding: 10px;
}

/* ========================================================================
 * MAIL
 * ======================================================================== */
.nav-email > li:first-child + li:active {
    margin-top: 0px;
}
.nav-email > li + li {
    margin-top: 1px;
}
.nav-email li {
    background-color: white;
}
.nav-email li.active {
    background-color: transparent;
}
.nav-email li.active .label {
    background-color: white;
    color: black;
}
.nav-email li a {
    color: black;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.nav-email li a:hover {
    background-color: #EEEEEE;
}
.nav-email li a i {
    margin-right: 5px;
}
.nav-email li a .label {
    margin-top: -1px;
}

.table-email tr:first-child td {
    border-top: none;
}
.table-email tr td {
    vertical-align: top !important;
}
.table-email tr td:first-child, .table-email tr td:nth-child(2) {
    text-align: center;
    width: 35px;
}
.table-email tr.unread, .table-email tr.selected {
    background-color: #EEEEEE;
}
.table-email .media {
    margin: 0px;
    padding: 0px;
    position: relative;
}
.table-email .media h4 {
    margin: 0px;
    font-size: 14px;
    line-height: normal;
}
.table-email .media-object {
    width: 35px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.table-email .media-meta, .table-email .media-attach {
    font-size: 11px;
    color: #999;
    position: absolute;
    right: 10px;
}
.table-email .media-meta {
    top: 0px;
}
.table-email .media-attach {
    bottom: 0px;
}
.table-email .media-attach i {
    margin-right: 10px;
}
.table-email .media-attach i:last-child {
    margin-right: 0px;
}
.table-email .email-summary {
    margin: 0px 110px 0px 0px;
}
.table-email .email-summary strong {
    color: #333;
}
.table-email .email-summary span {
    line-height: 1;
}
.table-email .email-summary span.label {
    padding: 1px 5px 2px;
}
.table-email .ckbox {
    line-height: 0px;
    margin-left: 8px;
}
.table-email .star {
    margin-left: 6px;
}
.table-email .star.star-checked i {
    color: goldenrod;
}

.nav-email-subtitle {
    font-size: 15px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 15px;
    margin-top: 30px;
}

.compose-mail {
    position: relative;
    padding: 15px;
}
.compose-mail textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
}

.view-mail {
    padding: 10px;
    font-weight: 300;
}

.attachment-mail {
    padding: 10px;
    width: 100%;
    display: inline-block;
    margin: 20px 0px;
    border-top: 1px solid #EFF2F7;
}
.attachment-mail p {
    margin-bottom: 0px;
}
.attachment-mail a {
    color: #32323A;
}
.attachment-mail ul {
    padding: 0px;
}
.attachment-mail ul li {
    float: left;
    width: 200px;
    margin-right: 15px;
    margin-top: 15px;
    list-style: none;
}
.attachment-mail ul li a.atch-thumb img {
    width: 200px;
    margin-bottom: 10px;
}
.attachment-mail ul li a.name span {
    float: right;
    color: #767676;
}

@media (max-width: 640px) {
    .compose-mail-wrapper .compose-mail {
        padding: 0px;
    }
}
@media (max-width: 360px) {
    .mail-wrapper .panel-sub-heading {
        text-align: center;
    }
    .mail-wrapper .panel-sub-heading .pull-left, .mail-wrapper .panel-sub-heading .pull-right {
        float: none !important;
        display: block;
    }
    .mail-wrapper .panel-sub-heading .pull-right {
        margin-top: 10px;
    }
    .mail-wrapper .panel-sub-heading img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .mail-wrapper .panel-footer {
        text-align: center;
    }
    .mail-wrapper .panel-footer .pull-right {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
    }
    .mail-wrapper .attachment-mail ul {
        padding: 0px;
    }
    .mail-wrapper .attachment-mail ul li {
        width: 100%;
    }
    .mail-wrapper .attachment-mail ul li a.atch-thumb img {
        width: 100% !important;
    }
    .mail-wrapper .attachment-mail ul li .links {
        margin-bottom: 20px;
    }

    .compose-mail-wrapper .search-mail input {
        width: 130px;
    }
    .compose-mail-wrapper .panel-sub-heading {
        padding: 10px 7px;
    }
}







