<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:insert="~{fragments/head}">

</head>
<title>About</title>
<body id="page-top">
<th:block th:insert="~{fragments/nav}">

</th:block>

<div class="container about">
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="">
                    <h4>Nikolay Georgiev</h4>
                    <p class="text-secondary">Java Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="https://github.com/NikolayG92"><i
                                class="fa fa-github"></i></a></li>
                        <!--                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                        <!--                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="/img/31330.jpg">
                    <h4>Georgi Petrov</h4>
                    <p class="text-secondary">Java Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="https://github.com/Georgi051"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/georgi-petrov-a1b52b19a/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
            <div class="team-member"><img class="rounded-circle mx-auto" src="/img/49874855.jpg">
                <h4>Valeri Stoqnov</h4>
                <p class="text-secondary">Full stack Developer</p>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"><a href="https://github.com/Valeri12580"><i
                            class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/valeri.stoqnov.587/"><i
                            class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/valeri.st_/"><i
                            class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</section>

    </div>
<th:block th:insert="~{fragments/footer}">

</th:block>

<th:block th:insert="~{fragments/scripts}">

</th:block>
</body>

</html>