<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/head}">

</head>
<body>
<th:block th:insert="~{fragments/nav}">

</th:block>

<div class="container">
    <div class="row" >


        <div class="col-sm-4">

            <form th:action="@{/customers/registration}" th:method="post">
                <div id="contact-form" class="form-container" data-form-container>
                    <h3>Registration</h3>
                    <div class="input-container">
                        <div class="row">
                <span class="req-input">
                    <span class="input-status" data-toggle="tooltip" data-placement="top"
                          title="Your first name"> </span>
                    <input type="text" placeholder="First name" name="firstName">
                </span>
                        </div>
                        <div class="row">
                <span class="req-input">
                    <span class="input-status" data-toggle="tooltip" data-placement="top"
                          title="Your last name"> </span>
                    <input type="text" placeholder="Last name" name="lastName">
                </span>
                        </div>

                        <div class="row">
                <span class="req-input">
                    <span class="input-status" data-toggle="tooltip" data-placement="top"
                          title="Your weight"> </span>
                    <input type="text" placeholder="Weight" name="weight">
                </span>
                        </div>

                        <div class="row">
                <span class="req-input">
                    <span class="input-status" data-toggle="tooltip" data-placement="top"
                          title="Your height"> </span>
                    <input type="text" placeholder="Height" name="height">
                </span>
                        </div>

                        <div class="row">
                <span class="req-input">
                    <span class="input-status" data-toggle="tooltip" data-placement="top" title="Your BMI"> </span>
                    <input type="text" placeholder="BMI" name="BMI">
                </span>
                        </div>

                        <tr>
                            <td>Gender</td>
                            <td>
                                <input type="radio" name="gender" th:value="MALE" />
                                <label th:text="male" />
                                <input type="radio" name="gender" th:value="FEMALE" />
                                <label th:text="female" />
                            </td>
                        </tr>

                        <!-- TODO: Тук е снимката -->
                        <div class="row">
                         <input type="file" id="add-image" name="imageUrl">
                        </div>

                        <div class="row submit-row">
                            <button type="submit" class="btn btn-block submit-form">Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <!-- BMI CALCULATOR -->
        <div class="form-container col-sm-3" data-form-container>
            <h3>BMI Calculator</h3>
            <form name="bmiForm">
                 <span class="req-input">
                    <span class="input-status" data-toggle="tooltip" data-placement="top" title="Your weight"> </span>
                    <input type="text" name="weight" placeholder="Weight">
                </span>
                <span class="req-input">
                    <span class="input-status" data-toggle="tooltip" data-placement="top" title="Your height"> </span>
                    <input type="text" name="height" placeholder="Height">
                </span>
                <input class="btn-primary" type="button" value="Calculate BMI" th:onclick="bmiCalculator()"><br/>
                <span class="req-input">
                    <span class="input-status" data-toggle="tooltip" data-placement="top" title="Your BMI"> </span>
                    <input type="text" name="bmi" placeholder="BMI">
                </span>
                <span class="req-input">
                    <span class="input-status" data-toggle="tooltip" data-placement="top" title="Your result"> </span>
                    <input type="text" name="meaning" placeholder="Result">
                </span>
                <input class="btn-primary" type="reset" value="Reset"/>
            </form>
        </div>
        <!-- END BMI CALCULATOR -->
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
<th:block th:insert="~{fragments/scripts}"></th:block>

</body>
</html>