<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/head}">

</head>
<body>
<th:block th:insert="~{fragments/nav}">

</th:block>

<th:block sec:authorize="hasRole('ROLE_BANNED')">
    <h5 class="text-danger text-lg-center">You are banned!</h5>
</th:block>
<th:block th:if="${customer != null && progressChart.changed == false}">
    <h5 class="text-primary text-lg-center">We didn't check any progress! If you have progress please enter your new values in the progress chart!</h5>
</th:block>


<div class="col-12 alert alert-warning  text-center" sec:authorize="hasRole('TRAINER_UNCONFIRMED')">
    You are registered as a trainer!
    Please fill the <a th:href="@{/trainers/confirmation}">form</a> to continue
</div>
<div class="row align-items-center mt-5" th:if="${statusMessage}">
    <div class="col-12 alert  text-center" th:classappend="${statusCode =='error'?'alert-danger':'alert-success'}"
         th:text="${statusMessage}">

    </div>

</div>

<div class="container">
    <div class="home-row">
        <div>
            <!-- TRAINING PLAN -->
            <th:block th:if="${trainingPlan != null}">
                <article class="training-plan-article" th:object="${trainingPlan}">
                    <h3>Your Training plan</h3>
                    <th:block th:if="*{trainingPlanType.name() == 'BUILD_MUSCLE'}">
                        <span>BUILD MUSCLE</span>
                        <img th:src="@{https://res.cloudinary.com/gladiators/image/upload/v1609761974/build-muscle_x5zn2w.jpg}"
                        >
                    </th:block>
                    <th:block th:if="*{trainingPlanType.name() == 'BULK_UP'}">
                        <span>BULK UP</span>
                        <img th:src="@{https://res.cloudinary.com/gladiators/image/upload/v1609761974/bulk-up_v4yeqq.jpg}"
                        >
                    </th:block>
                    <th:block th:if="*{trainingPlanType.name() == 'LOST_WEIGHT'}">
                        <span>LOST WEIGHT</span>
                        <img th:src="@{https://res.cloudinary.com/gladiators/image/upload/v1609761974/lost-weight_slx9ev.jpg}"
                        >
                    </th:block>
                    <div class="text-center">
                        <a class="btn btn-success" href="#" data-toggle="modal"><i class="glyphicon glyphicon-eye-open"></i>
                            More Info</a>

                    </div>
                </article>
            </th:block>
            <th:block th:if="${trainingPlan == null}">
                <article class="training-plan-article">
                    <div class="no-active-training-plan">
                        <span>You have no active training plan at this moment.</span>
                        <span>You can contact to our trainers and they will make individual program for you.</span>
                        <div class="choose-trainer">
                            <span>To choose your trainer</span>
                            <a th:href="@{/trainers}" class="btn btn-success">Click Here</a>
                        </div>
                    </div>

                </article>
            </th:block>
        </div>


        <!-- END TRAINING PLAN -->

        <!-- PROGRESS CHART -->

        <div class="progress-chart">

            <form th:object="${progressChart}" th:action="@{/customers/progressChart/edit}"
                  th:method="post">
                <div>
                    <h3>Progress chart</h3>
                    <div>
                        <div class="progress-chart-info-div">
                            <span th:text="Weight" title="Your weight"></span>
                            <div>
                                <i class="fas fa-hand-point-right"></i>
                                <input type="text" th:value="*{weight}" placeholder="Weight">
                            </div>
                        </div>
                        <div class="progress-chart-info-div">
                            <span th:text="Height" title="Your height"></span>
                            <div>
                                <i class="fas fa-hand-point-right"></i>
                                <input type="text" th:value="*{height}" placeholder="Height">
                            </div>
                        </div>
                        <div class="progress-chart-info-div">
                            <span th:text="BMI" title="Your BMI"></span>
                            <div>
                                <i class="fas fa-hand-point-right"></i>
                                <input type="text" th:value="*{BMI}" placeholder="BMI">
                            </div>
                        </div>
                        <div class="progress-chart-info-div">
                            <span th:text="Chest" title="Your chest"></span>
                            <div>
                                <i class="fas fa-hand-point-right"></i>
                                <input type="text" th:value="*{chest}" placeholder="Chest">
                            </div>
                        </div>
                        <div class="progress-chart-info-div">
                            <span th:text="Waist" title="Your waist"></span>
                            <div>
                                <i class="fas fa-hand-point-right"></i>
                                <input type="text" th:value="*{waist}" placeholder="Waist">
                            </div>
                        </div>
                        <div class="progress-chart-info-div">
                            <span th:text="Biceps" title="Your biceps"> </span>
                            <div>
                                <i class="fas fa-hand-point-right"></i>
                                <input type="text" th:value="*{biceps}" placeholder="Biceps">
                            </div>
                        </div>
                        <div class="progress-chart-info-div">
                            <span th:text="Thigh" title="Your thigh"></span>
                            <div>
                                <i class="fas fa-hand-point-right"></i>
                                <input type="text" th:value="*{thigh}" placeholder="Thigh">
                            </div>
                        </div>
                        <div class="text-center" style="margin-top: 40px;">
                            <a class="btn btn-success" th:href="@{/customers/progressChart/edit}"
                               type="button" >Edit</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- END PROGRESS CHART -->

        <!-- BMI CALCULATOR -->
        <div class="bmi-form">
            <h3>BMI Calculator</h3>
            <form name="bmiForm">
                 <span>
                    <span title="Your weight"> </span>
                    <input type="text" name="weight" placeholder="Weight">
                </span>
                <span>
                    <span title="Your height"> </span>
                    <input type="text" name="height" placeholder="Height">
                </span>
                <div>
                    <input class="btn btn-success" type="button" value="Calculate BMI" th:onclick="bmiCalculator()"><br/>
                </div>
                <span>
                    <span title="Your BMI"> </span>
                    <input type="text" name="bmi" placeholder="BMI">
                </span>
                <span>
                    <span title="Your result"> </span>
                    <input type="text" name="meaning" placeholder="Result">
                </span>
                <div>
                    <input class="btn btn-success" type="reset" value="Reset"/>
                </div>
            </form>
        </div>
        <!-- END BMI CALCULATOR -->
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
<th:block th:insert="~{fragments/scripts}"></th:block>

</body>
</html>